body {
  background-image: url("../images/ooorganize.svg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

.container {
  min-height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: "Newzald", sans-serif;
  font-size: 10rem;
  color: #fff;
  text-shadow: 0 2px 12px 4px rgb(0, 0, 0, 0.05);
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 2px 12px 4px rgb(0, 0, 0, 0.05);
}

a {
  margin-top: 2rem;
}

