<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/favicon/apple-touch-icon.png"
  />
  <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicon/favicon-32x32.png"
  />
  <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="../static/favicon/site.webmanifest" />
  <link rel="stylesheet" href="../static/css/global.css"/>
  <link rel="stylesheet" href="../static/css/404.css"/>
  <title>404 | Page Not Found</title>
</head>
<body>
  <div class="container">
    <h1 class="title">404</h1>
    <h2 class="subtitle">Page not found</h2>
    <a href="/" class="btn" type="button">Return Home</a>
  </div>
</body>
</html>