<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <title>Converter</title>
</head>

<body>

  <div class="everything">
    <div class="heading">
      <h1>Youtube MP3 Converter</h1>
    </div>

    <div class="paragraph">
      <p1>Put in a URL to convert it to an MP3!</p1>
    </div>

    <div class="box">
      <form method="POST" id="form">
        <input class="input" type="text" placeholder="Search for YouTube URL" id="url" name="url" required>
      </form>
      <i class='fa-solid fa-magnifying-glass'></i>
    </div>
  </div>

<div class="tutorial">
  <h2>How to convert YouTube to MP3:</h2>
  <p2>1. Copy the URL from a YouTube video</p2>
  <br>
  <p3>2. Paste this URL into the input field and hit enter</p3>
  <br>
  <p4>3. Then click on the download button on the download page</p4>
</div>




</body>

</html>